<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transparent Card UI Design</title>
</head>
<body>
<section>
    <div class="container">
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="" alt="">
                </div>
                <div class="contentBx">
                    <h3>Someone Famous<br><span>Creative Designer</span></h3>
                </div>
            </div>
        </div>
        <ul class="sci">
            <li>
                <a href="#"></a>
            </li>
        </ul>
    </div>
</section>

</body>
</html>